@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
background-color: #000;
color: white;
}


.video-mask-left {
mask-image: linear-gradient(to left, transparent 0%, black 10%);
-webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%);
}