.video-mask-left {
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 35%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    black 0%,
    black 35%,
    transparent 100%
  );
}
